/* 代码块展示的自定义样式 */
.code-block-wrapper {
  background-color: #f8f8f8;
  border-radius: 6px;
  margin: 16px 0;
  overflow: hidden;
  /* border: 1px solid #e1e4e8; */
}
.code-block-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 12px;
  background: #e5e7ed;
  color: #6a737d;
  /* border-bottom: 1px solid #e1e4e8; */
}
.code-block-header_copy {
  background: transparent;
  border: 0;
  color: #24292e;
  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
  transition: all 0.2s;
}
.code-block-header_copy:hover {
  /* background: #eaecef; */
  color: #2672ed;
}
.code-block-code {
  background: rgba(175,184,193,0.2);
  padding: 2px 4px;
  border-radius: 3px;
}

/**/
.blockquote {
  border-left: 4px solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
  margin: 16px 0;
  background: #f6f8fa;
  border-radius: 0 6px 6px 0;
}

/* 表格的展示样式 */
.table-container {
  overflow-x: auto;
  margin: 1.5em 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.table-container table {
  border-collapse: collapse;
  width: 100%;
  border: "1px solid #ddd",
}
.table-container th,
.table-container td {
  padding: 12px 15px;
  border: 1px solid #e1e4e8;
  text-align: left;
}
.table-container th {
  background-color: #f6f8fa;
  font-weight: 600;
}
.table-container tr:nth-child(even) {
  background-color: #fafbfc;
}

/* 数学公式的额外间距 */
.katex-display {
  margin: 10px 0;
}