.ant-form-item {
  .ant-form-item-label>label {
    font-size: 1em;
  }

  .ant-input-sm {
    font-size: 0.75em;
  }

  .ant-input-lg {
    font-size: 1em;
  }
}
.ant-form-vertical .ant-form-item:not(.ant-form-item-horizontal) {
  .ant-form-item-label >label.ant-form-item-required:not(.ant-form-item-required-mark-optional) {
    &::before {
      display: none; 
    }
    &::after {
      visibility: visible;
      display: inline-block;
      margin-inline-end: 4px;
      color: #ff4d4f;
      font-size: 16px;
      font-family: SimSun, sans-serif;
      line-height: 1;
      content: "*";
    }
  }
}